@use "../styles/mixins"
.hero
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  overflow: hidden
  position: relative

.image
  flex: 0 0 100%
  width: 100%
  height: auto
  opacity: 0.5

.textBlock
  position: absolute
  top: 50%
  right: 50%
  transform: translate(50%, -50%)
  z-index: 10
  display: flex
  flex-flow: column
  h1
    font-size: 3.5rem
    text-wrap: nowrap

  p
    font-size: 1.5rem
